WebViewExample/WebViewExample/bin
WebViewExample/WebViewExample/obj/

WebViewExample/WebViewExample.Android/bin/
WebViewExample/WebViewExample.Android/obj/

WebViewExample/WebViewExample.iOS/bin/
WebViewExample/WebViewExample.iOS/obj/

.vs/
